body{

    background-image: url("../img/fondo3.jpg");

}

h1{
    text-align: center;
    background-image: ;
}

.izquierda {
    display:block;
}

h2{
    Text-align: center  
}

.azul{
    color: blue;
}